/* Generic Selectors */

body {
  font-family: "Helvetica Neue", sans-serif;
  font-size:16px;
  color: #eeffff;
  background-color: #5d9ac7;
  line-height: 150%;
}

p {
  width: 90%
}

li {
  line-height: 150%;
  list-style-type: circle;
  /*list-style-image: url(../images/arrowSmall.gif); */
}

h1 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

h2 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
/*  border-bottom: 1px solid #C6EC8C; */
}

img {
  width: 530px;
}

a:link {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}

a:visited {
  color: #ffffff
}

/************************ ID's **********************/
#topBar {
  position: absolute;
  width: 800px;
  height: 60px;
  /*border-bottom: 1px solid #ffffff;*/
  margin: 0;
  margin-left: 10px;
  padding: 0 0 0 10px;
}

#navigationBar {
  position: absolute;
  width: 190px;
  /*height: 250px;*/
  margin: 0;
  margin-top: 70px;
  margin-left: 10px;
  /*border-right: 1px solid #ffffff;*/
  padding: 0 0 0 10px;
  font-weight: normal;
  color: #ffffff;
}

#mainText {
  position: absolute;
  width: 590px;
  padding: 0 0 0 0;
  margin-top: 70px;
  margin-left: 220px;
  padding: 0 0 0 10px;

}
