html {
  font-family: Helvetica, sans-serif;
}

body {
  box-sizing: border-box;
  width: 80%;
  color: #444444;
  background-color: #f2f2f2;
  padding-left: 1.0rem;
  padding-right: 1.0rem;
  padding: 1.0rem;
  /* border: 1px solid black; */
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.1em;
}

/* html, body {
  margin: 0;
  padding: 0;
} */
canvas {
  display: block;
}
