html {
  font-family: Helvetica, sans-serif;
}

body {
  box-sizing: border-box;
  width: 80%;
  color: #444444;
  background-color: #f2f2f2;
  padding-left: 1.0rem;
  padding-right: 1.0rem;
  padding: 1.0rem;
  /* border: 1px solid black; */
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.1em;
}

.mainHeader {
  color: #444444;
  width: 80%;
  margin: 0rem auto 0.5rem auto;
}

.subHeader {
  color: #888888;
  width: 60%;
  font-weight: 100;
  margin: 0rem auto 0.5rem auto;
}

main {
  margin: 1rem auto auto auto;
}

.projectList {
  width: 80%;
  margin: auto;
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-weight: 600;
  /* border: 1px solid black; */
}

.project {
  width: 80%;
  margin:auto;
  font-size: 0.8rem;
  line-height: 1.2rem;
  /* border: 1px solid black; */
}


a {
  outline: none;
  text-decoration: none;
}

a:link {
  color: #444444;
}

a:visited {
  color: #444444;
}

a:focus {
  border-bottom: 1px solid;
}

a:hover {
  border-bottom: 1px solid;
}

a:active {
  color: #888888;
}
