html,
body {
    color: #232323;
    font-family: 'Open Sans', sans-serif;
}

.card-box-shadow {
    box-shadow: lightgray 2px 2px 10px;
}
.card-box-shadow:hover {
    /* border: 2px solid black; */
}
.card-box-shadow:active {
    box-shadow: lightgray 0px 0px 0px;
}

.hover-pointer:hover {
    cursor: pointer;
}
